.navBar {
    background-color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    top: 0;
    position: sticky;
    font-family: "Inter", sans-serif;
    z-index: 10;
    justify-content: center;
}

.navBar span {
    font-size: clamp(15px, 1.7vw, 40px);
    cursor: default;
}

.topMenuContainer {
    position: relative;
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr 0.25fr 4fr;
    grid-template-columns: 1fr;
    justify-content: center;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.topPanelFooterTitle {
    position: absolute;
    bottom: 5%;
    left: 2%;
    color: white;
    font-size: clamp(25px, 3vw, 70px);
    line-height: 0;
    font-family: "Inter", sans-serif;
}

@media(max-width: 763px) {
    .topPanelFooterTitle {
        bottom: 3%;
    }
}

.logoWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: all .3s ease;
    position: sticky;
}

.shadowBackground {
    background-color: rgb(28, 28, 28, 0.7);
}

.whiteColor {
    color: white;
}

.topMenuImageContainer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    cursor: pointer;
}

.topMenuImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.topMenuItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all .3s ease;
    gap: 3%;
    position: sticky
}

.topMenuItems span {
    font-family: "Inter", sans-serif;
    font-size: clamp(15px, 1.2vw, 30px);
    cursor: pointer;
    transition: all .3s ease;
    color: white;
}

.topMenuItems span:hover {
    color: rgb(212, 175, 55);
}

.goldenColor {
    color: rgb(212, 175, 55);
}

.perfumesPanelContainer {
    padding: 1%;
    margin-top: 0;
}

.navBarImageContainer {
    height: 60px;
    width: 100%;

    overflow: hidden;

    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 20;

    transition: opacity .2s ease;
}

.navBarLogoVisible {
    opacity: 1;
    pointer-events: auto;
}

.navBarLogoHidden {
    opacity: 0;
    pointer-events: none;
}

.navBarLogoContainer {
    position: absolute;
    left: 5%;
    height: 100%;
    width: 10%;
    cursor: pointer;
}
.navBarLogoContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}