.navBar {
    background-color: black;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    color: white;
    align-items: center;
    top:0;
    position: sticky;
    font-family: "Inter", sans-serif;
    z-index: 10;
}

.titleItem span {
    user-select: none;
    -webkit-user-select: none; /* Safari */
}

.titleItem {
    height: 100%;
    font-size: 40px;
    margin-left: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(212, 175, 55);
}

.navBar img {
    width: auto;
    height: 60px;
    display: block;
    margin-left: 10%;
    margin-right: 2%;
}

@media(max-width: 768) {
    .navBar img {
        height: 40px;
    }
}

.itemsContainer {
    margin-right: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-self: center;
    min-width: 0;
}

.navItem {
    position: relative;
    font-size: clamp(10px, 1.75vw, 30px);
    margin-right: 5%;
    cursor: pointer;
    align-self: center;
    z-index: 11;
    min-width: 0; 
}

@media(max-width:768px) {
    .navItem {
        margin-right: 1%;
    }

    .titleItem span {
        width: 0px;
        opacity: 0;
    }
    
    .navBar {
        grid-template-columns: 0.5fr 3fr;
    }
}

.navItem:hover {
    color: rgb(212, 175, 55);
    transition: all .3s ease;
}

.submenu {
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: fit-content;
    left: 0;
    list-style: none;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    justify-content: left;
    padding: 5%;
    margin-top: 2%;
    transition: all 0.3s ease;
}

.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.subMenuItem {
    color:white;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 100;
    font-size: clamp(10px, 1.6vw, 30px);
}

.subMenuItem:hover {
    color: rgb(212, 175, 55);
    transition: all .3s ease;
}

.navItem span{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* @media (max-width: 1300px) {
    .navItem {
    }
} */